<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Sass vs LESS: A better CSS - Ordina</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/beige.css" id="theme">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->

</head>

<body>

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides" id="ordina">
        <section id="start">

            <img src="img/ordina_l.png" alt="Ordina"/>

            <h1>A better CSS : Sass &amp; LESS</h1>

            <p>
                By Fr&eacute;d&eacute;ric Ghijselinck &amp; Sam Vloeberghs
                <br/>
                Competence Center Front-end &amp; UX
            </p>

        </section>
        <section>

            <h2>
                A better CSS : Sass &amp; LESS
            </h2>

            <ol style="list-style:upper-roman">
                <li>What's wrong with CSS?</li>
                <li>Introducing Sass</li>
                <li>Introducing LESS</li>
                <li>Hands-on</li>
            </ol>

        </section>
        <section>
            <section>
                <h2>I) What's wrong with CSS</h2>
                <ul>
                    <li>Browser incompatibilities</li>
                    <li>No functions / logic</li>
                    <li>No variables</li>
                    <li>Uncustomizable frameworks</li>
                    <li>DRY ..</li>
                </ul>
            </section>
        </section>

        <section>
            <div class="emphasize">

                <h3>SASS ; CSS with superpowers</h3>
                <img src="http://sass-lang.com/assets/img/illustrations/glasses-2087d741.svg" alt="Sass"/>
                <p>
                    Sass is the most mature, stable, and powerful professional grade CSS extension language
                    in the world.
                </p>

            </div>
        </section>

        <section>
            <h2>II) Introducing Sass</h2>
            <ul>
                <li>CSS Compatible</li>
                <li>Feature rich</li>
                <li>Mature</li>
                <li>Large community</li>
                <li>Framework adaption</li>
            </ul>
            <p style="margin-top:50px">
                <strong>Examples explained using a Sass variant, Scss</strong>
            </p>

            <aside class="notes">

            </aside>

        </section>
        <section>

            <h2>Multiple compilers</h2>
            <ul>
                <li>Compass</li>
                <li>Libsass</li>
            </ul>

            <aside class="notes">
                <ul>
                    <li>Compass relies on Ruby, Libsass does not ( relies on C )</li>
                    <li>Compass takes minutes to compile, Libsass seconds</li>
                    <li>Not every function of Sass is available in either compiler</li>
                    <li>Both are available as Grunt / Gulp pluginsw</li>
                </ul>
            </aside>

        </section>
        <section>
            <section>
                <h2>CSS Extensions</h2>
                <ul>
                    <li>Variables</li>
                    <li>Nested rules & properties</li>
                    <li>Referencing parent selectors</li>
                    <li>Functions</li>
                    <li>Interpolation</li>
                    <li>Variable defaults</li>
                    <li>...</li>
                </ul>

            </section>
            <section>
                <h2>Sass: Variables</h2>

                <pre>
                    <code data-trim class="css">
$success-color:     #43AC6A;
$warning-color:     #f08a24;
$linkcolor:         $warning-color;
$otherlinkcolor:    $success-color;
                    </code>
                </pre>

                <aside class="notes">
                    <p>
                        The most straightforward way to use SassScript is to use variables. Variables begin with dollar signs, and are set like CSS properties
                    </p>
                    <p>
                        Variables are only available within the level of nested selectors where they’re defined. If they’re defined outside of any nested selectors, they’re available everywhere. They can also be defined with the !global flag, in which case they’re also available everywhere.
                    </p>
                </aside>

            </section>
            <section>
                <h2>Sass: Nested rules & properties</h2>
                <pre>
                    <code data-trim class="css">
h1{
    margin-bottom:15px;
    font: {
        size: 1.4em;
        weight: bold;
    }
}
h2{
    margin-bottom:15px;
    font: {
        size: 1.2em;
        weight: bold;
    }
}
                    </code>
                </pre>
                <aside class="notes">

                    <p>
                        Sass allows CSS rules to be nested within one another.
                    </p>
                    <p>
                        The inner rule then only applies within the outer rule’s selector.
                    </p>
                    <p>
                        CSS has quite a few properties that are in “namespaces;” for instance, font-family, font-size, and font-weight are all in the font namespace.
                    </p>
                    <p>
                        In CSS, if you want to set a bunch of properties in the same namespace, you have to type it out each time.
                    </p>
                    <p>
                        Sass provides a shortcut for this: just write the namespace once, then nest each of the sub-properties within it.
                    </p>

                </aside>
            </section>
            <section>
                <h2>Sass: Referencing parent selectors</h2>
                <pre>
                    <code data-trim class="css">
a{
    color:$linkcolor;
    text-decoration:none;
    &:hover{
        border-bottom: 1px solid $linkcolor;
    }
}
                    </code>
                </pre>

                <aside class="notes">
                    <p>
                        Sometimes it’s useful to use a nested rule’s parent selector in other ways than the default. For instance, you might want to have special styles for when that selector is hovered over or for when the body element has a certain class. In these cases, you can explicitly specify where the parent selector should be inserted using the & character.
                    </p>
                </aside>

            </section>
            <section>
                <h2>Sass: Functions</h2>
                <pre>
                    <code data-trim class="css">
$p_color: $primary-color;
p{
    content: 'This is a paragraph';
    color: $p_color;
    padding:10px;
    border: 2px solid $p_color;
    &.darker{
        $d_color: darken($color: $p_color, $amount: 10%);
        color: $d_color;
        border-color: $d_color;
    }
    &.lighter{
        $l_color: lighten($amount: 30%, $color: $p_color);
        color: $l_color;
        border-color: $l_color;
    }
}
                    </code>
                </pre>

                <aside class="notes">
                    <p>
                        Sass functions can also be called using explicit keyword arguments.
                    </p>
                    <p>
                        While this is less concise, it can make the stylesheet easier to read. It also allows functions to present more flexible interfaces, providing many arguments without becoming difficult to call.
                    </p>
                    <p>
                        Named arguments can be passed in any order, and arguments with default values can be omitted. Since the named arguments are variable names, underscores and dashes can be used interchangeably.
                    </p>
                </aside>

            </section>
            <section>
                <h2>Sass: Interpolation</h2>
                <pre>
                    <code data-trim class="css">
$name: fancy;
$attr: font;

p.#{$name} {
    #{$attr}-color: blue;
}
                    </code>
                </pre>

                <aside class="notes">
                    <p>
                        You can also use SassScript variables in selectors and property names using #{} interpolation syntax:
                    </p>
                    <p>
                        It’s also possible to use #{} to put SassScript into property values. In most cases this isn’t any better than using a variable, but using #{} does mean that any operations near it will be treated as plain CSS.
                    </p>
                </aside>

            </section>
            <section>
                <h2>Sass: Variable defaults</h2>
                <pre>
                    <code data-trim class="css">
$content: "First content";
$content: "Second content?" !default;
$bis_content: "First bis content" !default;

p {
    margin-bottom:10px;
    &.primary:before {
        content: $content;
    }

    &.secundary:before {
        content: $bis_content;
    }
}
                    </code>
                </pre>
                <aside class="notes">
                    <p>
                        You can assign to variables if they aren’t already assigned by adding the !default flag to the end of the value.
                    </p>
                    <p>
                        This means that if the variable has already been assigned to,it won’t be re-assigned, but if it doesn’t have a value yet, it will be given one.
                    </p>
                </aside>
            </section>
        </section>
        <section>
            <section>
                <h2>@-rules &amp; directives</h2>
                <ul>
                    <li>Importing & partials</li>
                    <li>Media queries</li>
                    <li>Extending / inheriting</li>
                    <li>Control directives, logic &amp; expressions</li>
                    <li>Mixins &amp; arguments</li>
                </ul>
            </section>
            <section>
                <h2>Sass: Importing &amp; partials</h2>
                <pre>
                    <code data-trim class="css">
@import "reset";
@import "settings";
@import "utils";
@import "styles";

@import "foo.css";
@import "foo" screen;
@import "http://foo.com/bar";
@import url(foo);
                    </code>
                </pre>
                <aside class="notes">
                    <p>
                        Sass extends the CSS <code>@import</code> rule to allow it to import SCSS
                        and Sass files. All imported SCSS and Sass files will be merged together
                        into a single CSS output file. In addition, any variables or mixinsdefined in imported files can be used in the main
                        file.
                    </p>
                    <p>
                        Sass looks for other Sass files in the current directory, and the Sass
                        file directory under Rack, Rails, or Merb. Additional search directories
                        may be specified using the <code>:load_paths</code> option, or the
                        <code>--load-path</code> option on the command line.
                    </p>
                    <p>
                        <code>@import</code> takes a filename to import. By default, it looks
                        for a Sass file to import directly, but there are a few circumstances under
                        which it will compile to a CSS <code>@import</code> rule:
                    </p>
                    <ul>
                        <li>If the file’s extension is <code>.css</code>.</li>
                        <li>If the filename begins with <code>http://</code>.</li>
                        <li>If the filename is a <code>url()</code>.</li>
                        <li>If the <code>@import</code> has any media queries.</li>
                    </ul>
                    <p>
                        If none of the above conditions are met and the extension is
                        <code>.scss</code> or <code>.sass</code>, then the named Sass or SCSS file
                        will be imported. If there is no extension, Sass will try to find a file
                        with that name and the <code>.scss</code> or <code>.sass</code> extension
                        and import it.
                    </p>
                </aside>
            </section>
            <section>
                <h2>Sass: Media queries</h2>
                <pre>
                    <code data-trim class="css">

                    </code>
                </pre>
                <aside class="notes">

                </aside>
            </section>
            <section>
                <h2>Sass: Extending / inheriting</h2>
                <pre>
                    <code data-trim class="css">

                    </code>
                </pre>
                <aside class="notes">

                </aside>
            </section>
            <section>
                <h2>Sass: Control directives, logic &amp; expressions (0)</h2>
                <ul>
                    <li>@if</li>
                    <li>@for</li>
                    <li>@each</li>
                    <li>@while</li>
                </ul>
            </section>
            <section>
                <h2>Sass: Control directives, logic &amp; expressions (1)</h2>
                <pre>
                    <code data-trim class="css">

                    </code>
                </pre>
            </section>

            <section>
                <h2>Sass: Mixins &amp; arguments</h2>
                <pre>
                    <code data-trim class="css">
@mixin border($size: 1px, $color: transparant,
$left: false, $bottom: false, $right:false, $top: false){
    @if ($left)   { border-left: $size solid $color;   }
    @if ($right)  { border-right: $size solid $color;  }
    @if ($top)    { border-top: $size solid $color;    }
    @if ($bottom) { border-bottom: $size solid $color; }
}

@mixin box-sizing($type:border-box) {
    -webkit-box-sizing: $type;  // Android < 2.3, iOS < 4
    -moz-box-sizing: $type;     // Firefox < 29
    box-sizing: $type;          // Chrome, IE 8+, Opera, Safari 5.1
}
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <h2>Frameworks using Sass</h2>
            <ul>
                <li>Zurb Foundation</li>
                <li>Bootstrap</li>
                <li>Bourbon</li>
                <li>Gumby</li>
                <li>.. your own?</li>
            </ul>
        </section>
        <section>
            <section>
                <h2>II) Introducing LESS</h2>
                <ul>
                    <li>What is LESS?</li>
                    <li>LESS on the client</li>
                    <li>LESS on the server</li>
                    <li>importing</li>
                    <li>variables</li>
                    <li>functions</li>
                    <li>operations</li>
                    <li>mixins</li>
                    <li>nested rules</li>
                </ul>
            </section>
            <section>
                <h2>What is LESS?</h2>
                <ul>
                    <li>Dynamic style sheet language</li>
                    <li>Compiles to CSS (client or server)</li>
                    <li>Introduces programming features to css (calculations)</li>
                    <li>Looks and feels like CSS (all CSS is valid LESS)</li>
                </ul>
            </section>
        </section>
        <section>
            <section>
                <h2>Using LESS on the Client</h2>
                <pre>
                    <code data-trim class="html">
<html>
<head>
    <link rel="stylesheet/less"
          type="text/css"
          href="css/my.less">

    <script src="js/less.js"
            type="text/javascript"></script>
</head>
</html>
                    </code>
                </pre>
                <aside class="notes">
                <ul>
                    <li>add type to the stylesheet (/less)</li>
                    <li>javascript transforms the LESS file into CSS directly on the client</li>
                    <li>include javascript after your LESS files</li>
                </ul>
                </aside>
            </section>
            <section>
                <h2>Using LESS on the Server</h2>
                <ul>
                    <li>Ability to cache it</li>
                    <li>Reducing the processing time on the client</li>
                    <li>Scale out the HTML</li>
                    <li>Server support for LESS</li>
                    <ul>
                        <li>Node.js</li>
                        <li>ASP.NET</li>
                        <li>Rails</li>
                        <li>JSP</li>
                        <li>...</li>
                    </ul>
                </ul>
            </section>
            <section>
                <h2>Node.js</h2>
                <pre>
                    <code data-trim class="bash">$ npm install less</code>
                </pre>
                <pre>
                    <code data-trim class="js">
var less = require('less');

less.render(lessContents,
            function (e, css) {
                console.log(css);
            });
                    </code>
                </pre>
            </section>
            <section>
                <h2>LESS Basics</h2>
                <p>LESS is meant to feel like CSS but better</p>
                <ul>
                    <li>Ability to cache it</li>
                    <li>All CSS is valid... really</li>
                    <li>Renaming your .css to .less works</li>
                    <li>LESS adds to CSS</li>
                    <li>Mix of LESS and CSS is no problem, only LESS gets compiled to CSS</li>
                </ul>
            </section>
            <section>
                <h2>LESS Basics</h2>
                <pre>
                    <code data-trim class="css">
@baseFontSize: 14px;
/* Comments */
// Comments too

#main
{
    h1
    {
        font-size: @baseFontSize;
    }
}
                    </code>
                </pre>
            </section>
            <section>
                <h2>Importing</h2>
                <ul>
                    <li>@import works</li>
                    <li>Embeds other .less files in a file</li>
                    <li>Allows for simple modularization</li>
                    <li>While maintaining merging of CSS</li>
                    <li>If Import is .css, it preserves the @import statement</li>
                    <li>If Import is .less, it merges it into file</li>
                </ul>
                <pre>
init.less
                    <code data-trim class="css">@import "init";</code>
                </pre>
            </section>
            <section>
                <h2>Variables</h2>
                <pre>
                    <code data-trim class="css">
@myColor: #ffeedd;

// They are Constants, this doesn’t work
@myColor: @myColor + 5%;

@a: Black; // Color
@b: 4px; // Units
@c: 1.0em; // Units
@d: Helvectica, sans serif; // Strings
@e: 1px #000 Solid 0 0; // Complex Type
                    </code>
                </pre>
                <aside class="notes">
                <ul>
                    <li>variables start with an @</li>
                    <li>name of the variable starts with a letter</li>
                    <li>case sensitivity matter, hyphens, underscores, numbers</li>
                    <li>variables are constants, no reassign</li>
                </ul>
                </aside>
            </section>
            <section>
                <h2>Operations</h2>
                <pre>
                    <code data-trim class="css">
font-size: 4px + 4; // 8px
font-size: 20px * .8; // 16px;
color: #FFF / 4; // #404040;
width: (100% / 2) + 25%; // 75%
                    </code>
                </pre>
            </section>
            <section>
                <h2>Color Functions</h2>
                <pre>
                    <code data-trim class="css">
color: lighten(@color, 10%);
color: darken(@color, 10%);

color: saturate(@color, 10%);
color: desaturate (@color, 10%);

color: fadein(@color, 10%);
color: fadeout(@color, 10%);
color: fade(@color, 50%); // change transparency

color: spin(@color, 10%);
color: mix(@color, #246);
                    </code>
                </pre>
            </section>
            <section>
                <h2>More Functions</h2>
                <pre>
                    <code data-trim class="css">
@hue: hue(@color);
@sat: saturation(@color);
@light: lightness(@color);
@alpha: alpha(@color);
@color: hsl(20%, 30%, 40%);

// Math
@rnd: round(3.14);
@top: ceil(3.14);
@bot: floor(3.14);
@per: percentage(.14);
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <section>
                <h2>Mixins</h2>
                <ul>
                    <li>Repeatable sections</li>
                    <li>Feel like functions</li>
                    <li>But insert more than one name/value pair</li>
                    <li>Can accept parameters, defaults and overloads</li>
                </ul>
            </section>
            <section>
                <h2>Mixins</h2>
                <pre>
                    <code data-trim class="css">
.rounded-corners-all(@size)
{
    border-radius: @size;
    -webkit-border-radius: @size;
    -moz-border-radius: @size;
}

#form
{
    .rounded-corners-all(5px);
}
                    </code>
                </pre>
                <aside class="notes">
                    <p>compiled CSS => take the body of the mixin and inject it into the css class where used</p>
                </aside>
            </section>
            <section>
                <h2>Mixins - defaults</h2>
                <pre>
                    <code data-trim class="css">
// Default Values
.rounded-corners-all(@size: 5px)
{
  border-radius: @size;
  -webkit-border-radius: @size;
  -moz-border-radius: @size;
}

#form
{
  .rounded-corners-all;
}
                    </code>
                </pre>
            </section>
            <section>
                <h2>Mixins - overloads</h2>
                <pre>
                    <code data-trim class="css">
// Using overloads
.color(@color)
{
  color: @color;
}

.color(@color, @factor)
{
  color: lighten(@color, @factor);
}

#form
{
  .color(#888, 20%); // Uses 2nd overload
}
                    </code>
                </pre>
            </section>
            <section>
                <h2>Mixins - guards</h2>
                <pre>
                    <code data-trim class="css">
// Using guards
.color(@color) when (alpha(@color) >= 50%)
{
  color: Black;
}

.color(@color) when (alpha(@color) < 50%)
{
  color: transparent;
}

#form
{
  .color(@mainColor); // Uses 1st overload
}
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <section>
                <h2>Nested Rules</h2>
                <ul>
                    <li>Allows you to structure rules in a logical way</li>
                    <li>Hierarchies imply the cascading/specificity</li>
                    <li>LESS then deconstructs it into CSS for you</li>
                </ul>
            </section>
            <section>
                <h2>Nested Rules</h2>
                <pre>
                    <code data-trim class="css">
// LESS Nested Rules
nav {
  font-size: 14px;
  font-weight: bold;
  float: right;
  ul {
    // Makes “nav ul {...}”
    list-style-type: none;
    li {
      // Makes “nav ul li {...}”
      float: left;
      margin: 2px;
    }
  }
}
                    </code>
                </pre>
            </section>
            <section>
                <h2>Nested Rules</h2>
                <pre>
                    <code data-trim class="css">
// Use Combinator (&) to mix with parent:
a
{
  text-decoration: none;
  &:hover
  {
    text-decoration: underline;
  }
}

// Results in
a { text-decoration: none; }
a:hover { text-decoration: underline; }
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <h2>Documentation etc.</h2>
            <ul>
                <li><a href="http://sass-lang.com/">Sass Lang website</a></li>
                <li><a href="http://sass-compatibility.github.io/">Sass Compatibility</a></li>
                <li><a href="http://foundation.zurb.com/">Zurb Foundation</a></li>
                <li><a href="http://lesscss.org/">Official LESS website</a></li>
                <li><a href="https://css-tricks.com/sass-vs-less/">Sass vs LESS</a></li>
            </ul>
        </section>
        <section>

            <img src="img/ordina_l.png" alt="Ordina"/>

            <h1>Bedankt!</h1>

            <p>
                Fr&eacute;d&eacute;ric Ghijselinck &amp; Sam Vloeberghs
                <br/>
                Competence Center Front-end &amp; UX
            </p>

        </section>
    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({

        controls: true,
        progress: true,
        history: true,
        center: true,
        slideNumber: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            {
                src: 'lib/js/classList.js', condition: function () {
                return !document.body.classList;
            }
            },
            {
                src: 'plugin/markdown/marked.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            }
            },
            {
                src: 'plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            }
            },
            {
                src: 'plugin/highlight/highlight.js', async: true, condition: function () {
                return !!document.querySelector('pre code');
            }, callback: function () {
                hljs.initHighlightingOnLoad();
            }
            },
            {src: 'plugin/zoom-js/zoom.js', async: true},
            {src: 'plugin/notes/notes.js', async: true}
        ]
    });

</script>

</body>
</html>
