/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img, object, embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button, input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/**
COLORS:
-------
*/
/* 0 - 480px */
/* 480px - 768px */
/* 768px - 960px */
/* 960px - 1440px */
/* 1440px - .. */
.wrapper {
  margin: 20px; }

/**
EXAMPLES
-----------
**/
#examples {
  padding: 40px;
  font-family: sans-serif;
  /*
  VARIABLES
  */
  /*
  NESTED RULES
  */
  /*
  REFERENCING PARENTS
  */
  /*
  FUNCTIONS & KEYWORD ARGUMENTS
  */
  /*
  INTERPOLATION
  */
  /*
  VARIABLE DEFAULTS
  */
  /*
  EXTENDING / INHERITING
  */
  /*
  MEDIA QUERIES
  */
  /*
  CONTROL DIRECTIVES, LOGIC & EXPRESSIONS
  */ }
  #examples h1 {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold; }
  #examples h2 {
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold; }
  #examples .box {
    background: #008B8B;
    padding: 20px;
    margin-bottom: 10px; }
    #examples .box .boxinbox {
      background: #fff;
      padding: 20px;
      text-align: center; }
  #examples a {
    color: #f08a24;
    text-decoration: none; }
    #examples a:hover {
      border-bottom: 1px solid #f08a24; }
  #examples p {
    content: 'This is a paragraph';
    color: #008CBA;
    padding: 10px;
    border: 2px solid #008CBA; }
    #examples p.darker {
      color: #006687;
      border-color: #006687; }
    #examples p.lighter {
      color: #54d5ff;
      border-color: #54d5ff; }
  #examples p.fancy {
    font-color: blue; }
  #examples p {
    margin-bottom: 10px; }
    #examples p.primary:before {
      content: "First content"; }
    #examples p.secundary:before {
      content: "First bis content"; }
  #examples .buttonanimation, #examples button {
    -o-transition: color .3s linear, background .4s linear;
    -ms-transition: color .3s linear, background .4s linear;
    -moz-transition: color .3s linear, background .4s linear;
    -webkit-transition: color .3s linear, background .4s linear;
    transition: color .3s linear, background .4s linear; }
  #examples button {
    color: #fff;
    background: #198fe6;
    border: 1px solid #fff;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 15px; }
    #examples button:hover, #examples button:focus, #examples button:active {
      background: #fff;
      border: 1px solid #198fe6;
      color: #198fe6; }
  #examples .vierkant {
    height: 150px;
    text-align: center;
    color: #fff;
    font-weight: bold; }
    @media only screen and (max-width: 30em) {
      #examples .vierkant {
        background: blue; }
        #examples .vierkant span:before {
          content: "small"; } }
    @media only screen and (min-width:30.064em) and (max-width:48em) {
      #examples .vierkant {
        background: pink; }
        #examples .vierkant span:before {
          content: "medium"; } }
    @media only screen and (min-width:48em) {
      #examples .vierkant {
        background: green; }
        #examples .vierkant span:before {
          content: "large"; } }
    @media only screen and (min-width:60em) {
      #examples .vierkant {
        color: red; }
        #examples .vierkant span:before {
          content: "xlarge"; } }
  #examples .boxbasics, #examples .box-info, #examples .box-success, #examples .box-error, #examples .box-warning {
    padding: 10px 10px 10px 32px;
    margin-bottom: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px; }
  #examples .box-info {
    color: #77c0de;
    background-image: url("../images/icons/info.png");
    background-position: 8px 50%;
    background-repeat: no-repeat;
    background-color: #a0d3e8;
    border-top: 2px solid #77c0de;
    border-bottom: 2px solid #77c0de; }
  #examples .box-success {
    color: #358753;
    background-image: url("../images/icons/success.png");
    background-position: 8px 50%;
    background-repeat: no-repeat;
    background-color: #aadebd;
    border-top: 2px solid #358753;
    border-bottom: 2px solid #358753; }
  #examples .box-error {
    color: #d32a0e;
    background-image: url("../images/icons/error.png");
    background-position: 8px 50%;
    background-repeat: no-repeat;
    background-color: #fabdb3;
    border-top: 2px solid #d32a0e;
    border-bottom: 2px solid #d32a0e; }
  #examples .box-warning {
    color: #d3700e;
    background-image: url("../images/icons/warning.png");
    background-position: 8px 50%;
    background-repeat: no-repeat;
    background-color: #fad7b3;
    border-top: 2px solid #d3700e;
    border-bottom: 2px solid #d3700e; }
  #examples .trianglewrapper {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 25px;
    border-color: transparent transparent transparent pink;
    border-left-style: solid;
  }
